<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>keola-nexus</id>
      <username>keola-upload</username>
      <password>Keola2023$$</password>
    </server>
    <server>
      <id>keola-nexus-snapshot</id>
      <username>keola-upload</username>
      <password>Keola2023$$</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>keola-nexus</id>
          <name>keola-nexus</name>
          <url>http://185.185.82.98:8081/repository/maven-releases/</url>
        </repository>
        <repository>
          <snapshots />
          <id>keola-nexus-snapshot</id>
          <name>keola-nexus-snapshot</name>
          <url>http://185.185.82.98:8081/repository/maven-snapshots/</url>
        </repository>
      </repositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
